.hero {
  background-image: linear-gradient(
      to bottom right,
      rgba(35,22,101,0.7) 0%,
      rgba(37,24,106,0.8) 59%,
      rgba(35,22,101,0.7) 100%
    ),
    url("../../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 75vh;
  &-container {
    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10rem;
      font-size: 2rem;
      &-1 {
        margin-right: 1rem;
      }
      &-2{
          color: $font-color2;
      }
    }
    &--button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
    }
  }
}

@media (max-width: 750px)
{
    .hero {
        height: 50vh;
        &-container {
          &--text {
            padding-top: 8rem;
            font-size: 1rem;
            &-1 {
              margin-right: 1rem;
            }
          }
        }
      }
}