.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(
        to bottom right,
        rgba(35, 22, 101, 0.7) 0%,
        rgba(37, 24, 106, 0.7) 59%,
        rgba(35, 22, 101, 0.7) 100%
      ),
      url("../../assets/event-category.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}