@mixin translucent-background {
  background-image: linear-gradient(
    to bottom right,
    #46428454 0%,
    #40387f2f 59%,
    #4b428256 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: $purple-3 0px 3px 8px;
}
